@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;
$or: #CB950B;

@import "_reset.scss";


@font-face {  
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {  
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Semibold.woff') format('woff'),
  url('../fonts/Gilroy-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@font-face {  
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {  
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Extrabold.woff') format('woff'),
  url('../fonts/Gilroy-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: Gilroy;  
  font-weight: 500;
  font-size: 10.7px;
  position: relative;
  min-height: 100vh;
  color: #000;
  &.ohi {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;  
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
  min-height: 100vh;
}

.contain {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width : 1200px) {
  .contain {
    padding: 0 15px;
  }
}

.show-991 {
  display: none;
}


.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;  
  background: rgba(#11121D, 0.5);
}

.modal-overlay_1 {

}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 50%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;   
  width: 100%;
  max-width: 640px; 
  min-height: 100px;
  background-color: #FFF;
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 55px 109px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 45px;
  top: 45px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close.svg") no-repeat 0 0;
}


.modal-form__form-w {
  div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 34px;
  }
  .wpforms-validate.wpforms-form {
    display: block;
  }
  div.wpforms-container-full .wpforms-form .wpforms-field {
    width: 100% !important;  
    margin-bottom: 10px;    
  }
  .wpforms-field-container {
    width: 100%;
    display: block;
  }
}

.modal-form__txt-1 {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-bottom: 12px;
}
.modal-form__txt-2 {
 max-width: 352px;
 font-size: 14px;
 letter-spacing: 0.01em;
 color: #576072;
 margin-bottom: 38px; 
}
.modal-form__info {
  text-align: center;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #9AA1AF;
  margin-top: 12px;
}


/*end modal*/


/*top menu mnu*/

.menu__list {
  > li {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  li {
    position: relative;
  }
  a.parent {
    margin-right: 25px;
  }
}


.pda__menu-w {
  display: none;
}

.menu__list {
  display: flex;    
}
.menu__link {
  display: block;
  height: 20px;
}
.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;  
  display: none;
  li {
    padding: 10px;
  }
  > li {
    background-color: #000; 
  }
}

.sub-menu__link {
  color: #fff;
}
.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none;  
  > li {
    background-color: #ccc;
    
  }
}
.sub-sub-menu__link {}

.menu__arrow {}
.menu-arrow {
  display: none;
  width: 0;
  height: 0;  
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  &.active {
    transform: rotate(180deg);
  }
}

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent;
}

body {
  &.mouse {
    .menu__list {      
      > li:hover {
        .sub-menu__list {
          display: block;
        }    
      }
    }
    .sub-menu__list {
      > li {      
        &:hover {
          .sub-sub-menu__list {
            display: block;
          }      
        }
      }
    }
  }
  &.touch {
    .menu-arrow {
      display: block;
    }
    .sub-menu__list.open {
      display: block;
    }
    .sub-sub-menu__list.open {
      display: block;
    }
  }
  &.ohi {
    overflow: hidden;
  }
}

@media (max-width : 767px) {
  .menu__list {
    display: block;
  }
  .sub-menu__list {
    position: static;
  }
  .sub-sub-menu__list {
    position: static;
  }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;  
  }
  .menu-arrow {
    top: 0px;
    right: 5px;
  }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.4s linear;          
    &.open {    
      max-height: 300px;
    }

  }
}

/*end top menu mnu*/

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 10px;  
  background-color: rgb(203, 149, 11);
  color: rgb(255, 255, 255);  
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: #E4AA17;
  }  
  i {
    display: inline-block;
    width: 8px;
    height: 7px;
    background-image: url("../img/arr-btn.svg");
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 10px;
  }
}

.btn-o {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;  
  border-radius: 10px;
  &:hover {
    background-color: rgb(203, 149, 11);
    text-decoration: none;
    color: rgb(255, 255, 255);  
    transition: 0.5s;
    border-color: rgb(203, 149, 11);
  }
}


.top {
  padding-top: 18px;
  padding-bottom: 22px;
}

.top__row {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 231px;
}

.col-mnu {
  margin-left: 99px;
  margin-top: 6px;
  ul {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 34px;
      }
      a {
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        letter-spacing: -0.2px;  
      }
    }
  }
}

.hidden-mnu {
}

.toggle-mnu {
}







.top__phone-lang {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-top: 6px;
}

.top__phone {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-right: 28px;
  display: inline-block;
  margin-left: 21px;
  font-weight: 700;
}

.top__lang {

}


.startup__w {
  padding: 0 30px;
}
.banner__w {
  padding: 0 15px;
}

.banner {
  height: 676px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.banner__inner {
  position: absolute;
  top: 135px;
  left: 0px;
  width: 100%;
}

.banner__row {
  margin-top: 0px;
}

.banner__content {
  max-width: 611px;
}

.banner__uptitle {
  font-weight: 800;
  font-size: 11px;
  line-height: 0.7;
  letter-spacing: 0.44em;
  text-transform: uppercase;
  color: rgb(78, 82, 88);
  margin-bottom: 33px;
}

.banner__title {
  font-size: 90px;
  line-height: 0.8;
  letter-spacing: -0.035em;
  color: rgb(255, 255, 255);
  margin-bottom: 48px;
  p {
    margin-bottom: 0;
  }
}

.banner__title-orange {
  line-height: 0.8;
  color: rgb(203, 149, 11);
  font-weight: 700;
  display: inline-block;
  border-bottom: 1px solid rgb(203, 149, 11);  
  padding-bottom: 6px;
}

.banner__subtitle {
}

.banner__text {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  margin-bottom: 23px;
  max-width: 410px;
}

.banner__btns {
  margin-top: 26px;
  display: flex;
  align-items: center;
  > p {
    display: flex;    
    align-items: center;
  }
}

.banner__btn {  
  padding: 0 66px;
  margin-right: 34px;
  height: 58px;
}

.banner__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner__btn-link {
  color: #FFF;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    text-decoration: none;
  }
}

/*section 2*/

.startup {
  width: 100%;
  max-width: 1720px;
  background: url("../img/lines-s-2.svg") left top no-repeat rgb(244, 246, 248);
  border-radius: 15px;
  padding-top: 68px;
  padding-bottom: 63px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24px;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 74.5px;
    height: 36.5px;
    background: url("../img/triangle.svg") $nr 0 0;
    position: absolute;
    top: -19px;
    left: 250px;
  }
}



.startup__row {
  display: flex;
}

.startup__left {
  margin-right: 86px;
  padding-top: 43px;
}

.startup__tiltle {
  font-weight: 600;
  font-size: 70px;
  letter-spacing: -0.03em;
  margin-bottom: 27px;
}

.startup__subtiltle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin-bottom: 25px;
}

.startup__text {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
}

.startup__btn {
  margin-top: 36px;
}

.startup__right {
  width: 850px;
  flex: 0 0 auto;
  position: relative;
}

.form {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(203, 149, 11);
  box-sizing: border-box;
  box-shadow: rgba(6, 14, 23, 0.1) 0px 10px 25px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
}

.form__top {
  padding: 50px 58px 29px 66px;
  display: flex;
}

.form__img-w {
  width: 92px;
  flex: 0 0 auto;
  text-align: center;
  margin-top: 22px;
}

.form__slogan {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
  margin-top: 14px;
}

.form__content {
  flex: 1 1 auto;
  margin-left: 72px;
  ul {
    padding-right: 33px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.01em;
      width: 50%;
    }
  }
}

.form__p {
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  margin-bottom: 21px;
}

.form__p-2 {
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  margin-bottom: 19px;
}

.form__gray-txt {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
  margin-bottom: 24px;
}





.form__form {
  display: flex;
}


.form__main {
  form {
    display: flex;
    width: 100%;
    position: relative;  

  }  
}

.wpcf7-response-output {
  width: 100%;
}

.form__row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  flex: 1 1 auto;  
  + p {
    flex: none;
  }
}

.wpforms-field-container {
  display: flex;
  display: flex;
  margin-left: -5px !important;
  margin-right: -5px !important;
  flex: 1 1 auto;
  .wpforms-field-label {
    order: 10;
  }
}

.wpforms-validate.wpforms-form {
  display: flex;
}

.form__bot {
  padding: 29px 54px 14px 54px;
  background: #F9F8F7;
  input[type="text"],
  input[type="email"] {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(219, 221, 223);  
    border-radius: 10px;
    height: 55px;
    width: 100%;
    padding-left: 53px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: left 30px center;
    &._name {
      background-image: url('../img/user-i.svg');
    }
    &._email {
     background-image: url('../img/mail-i.svg'); 
   }
   &._phone {
    background-image: url('../img/phone-i.svg');
  }
  &:focus {

  }  
}
}

div.wpforms-container-full .wpforms-form .wpforms-field {
  padding: 0 !important;
  display: flex;  
  flex-direction: column;
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: 33.333%;
  input[type="text"],
  input[type="email"] {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(219, 221, 223);  
    border-radius: 10px;
    height: 55px;
    width: 100%;
    padding-left: 53px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: left 30px center;
    &._name {
      background-image: url('../img/user-i.svg');
    }
    &._email {
     background-image: url('../img/mail-i.svg'); 
   }
   &._phone {
    background-image: url('../img/phone-i.svg');
  }
  &:focus {

  }  
}
input {
  order: -1;
} 
&:nth-child(1) {
  input {    
    background-image: url('../img/user-i.svg');
  }
}  
&:nth-child(2) {
  input {
    background-image: url('../img/mail-i.svg'); 
  }
}  
&:nth-child(3) {
  input {
    background-image: url('../img/phone-i.svg');
  }
}  
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  width: 121px !important;
  flex: none;
  margin-left: 5px !important;
  padding-top: 0 !important;
  button[type=submit] {
    height: 55px;
    width: 100%;
    background: #CB950B;
    border-color: #CB950B;
    border-radius: 10px;  
    padding-left: 22px;
    padding-right: 22px;
    flex: 0 0 auto;
    border: none;
    color: #FFF;
    font-weight: 800;
    font-size: 16px;  
    display: inline-flex;  
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right 24px center;   
    transition: 0.5s;
    &:after {
      content: "";      
      display: inline-block;
      width: 8px;
      height: 7px;
      background-image: url("../img/arr-btn.svg");
      background-repeat: no-repeat;
      background-position: right center;
      margin-left: 10px;
    }
    &:hover {
      background-color: #E4AA17;
      border-color: #E4AA17;
    }
  }
}

div.wpforms-container-full {
  margin: 0 !important; 
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  display: none !important;
}

.form__col {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.333%;
}





.form__lbl,
.wpforms-field-label {
  font-size: 11px !important;
  letter-spacing: 0.01em;
  color: rgb(154, 161, 175);
  display: block;
  margin-top: 3px;
  font-weight: 500 $i;
  padding-left: 11px !important;
  line-height: 1.2;
}

.form__btn {
  height: 55px;
  margin-left: 11px;
  padding-left: 22px;
  padding-right: 22px;
  flex: 0 0 auto;
  border: none;
  padding-right: 40px;
  background-image: url("../img/arr-btn.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;    
}


.most-popular {
  background: rgb(203, 149, 11);
  border-radius: 12px;
  height: 39px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -25px;
  left: 40px;
}

/*end section 2*/


/*apply*/

.apply {
  padding: 45px 0 0px 0;
}
.contain {}
.apply__items {
  display: flex;
  position: relative;
}
.apply__it {  
  height: 350px;
  background-position: 0 0;
  background-repeat: no-repeat;  
  position: relative;
  flex: none;
  padding: 48px 70px 44px;
  &:nth-child(1) {
    width: 447px;
    background-image: url("../img/apply-bg-1.png");
    z-index: 2;
  }  
  &:nth-child(2) {
    z-index: 2;
    background-image: url("../img/apply-bg-2.png");
    margin-left: -75px;
    width: 521px;
    z-index: 1;
    padding-left: 133px;
  }
  &:nth-child(3) {
    background-image: url("../img/apply-bg-3.png");
    width: 526px;
    margin-left: -125px;
    padding-left: 157px;
  } 

}

.heading-2 {
  font-weight: 600;
  font-size: 70px;
  line-height: 0.9;
  letter-spacing: -0.03em;
  color: rgb(0, 0, 0);
}



.apply__heading {
  line-height: 0.9;
  margin-bottom: 52px;
}


.apply__content {

}

.apply__img-w {
  width: 72px;
  height: 72px;
  flex: 0 0 auto;
  margin-left: 27px;
}

.apply__img {
  width: 100%;
}

.apply__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  margin-top: 23px;
  max-width: 220px;
}

.apply__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
}

.apply__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  padding-left: 57px;
  padding-right: 57px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);
  margin-top: 28px;
}

.apply__info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.apply__count {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: rgb(203, 149, 11);
  margin-right: 26px;
}

.apply__mini-text {
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgb(154, 161, 175);
}

/*end apply*/


.whychoose-advantages {
  position: relative;    
  padding-top: 63px;
  &:before {
    position: absolute;
    top: 240px;
    left: 1px;
    width: 2076px;
    height: 800px;
    background-repeat: no-repeat;
    background-position: left top;
    content: "";
    display: block;
    background-image: url("../img/lines-s-4.svg");
  }
}

.whychoose {
  padding-bottom: 74px;
  position: relative;
}

.contain {
}

.whychoose__row {
  display: flex;
}

.whychoose__l {
  flex: 0 0 auto;
  width: 411px;  
  padding: 79px 77px 80px;
  background-image: url("../img/why-choose.png");
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 10px;
  overflow: hidden;
}

.whychoose__tit {
  font-weight: 600;
  font-size: 70px;
  line-height: 0.9;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  margin-bottom: 44px;
}

.whychoose__txt-1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  margin-bottom: 22px;
}

.whychoose__txt-2 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgb(241, 221, 225);
}

.whychoose__r {
  flex: 1 1 auto;
  margin-left: 140px;
  padding-top: 64px;
}

.whychoose__item {  
  width: 44%;
  &:first-child {
    padding-right: 84px;
  }  
}

.whychoose__nums {
}

.whychoose__num {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 0.01em;
  margin-bottom: 0px;
}

.whychoose__num-txt {
  font-size: 24px;
  letter-spacing: 0.01em;
  margin-bottom: 22.5px;
  font-weight: 700;
}

.whychoose__text {
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
}

.whychoose__text-2 {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(154, 161, 175);
  margin-top: 15px;
}

.whychoose__item-big {
  margin-top: 51px;
}

.whychoose__gold-text {
  font-weight: bold;
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(203, 149, 11);  
}

.whychoose__num-txt-2 {
  margin-top: -8px;
  margin-bottom: 21px;
}

.advantages {
  max-width: 1720px;
  margin: auto;
  background: url("../img/lines-s-4-5.svg") right center no-repeat rgb(244, 246, 248);
  border-radius: 15px;
  padding-top: 120px;  

}

.advantages__row {
  display: flex;
  padding-bottom: 45px;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 74.5px;
    height: 36.5px;
    background: url("../img/triangle-wh.svg") $nr 0 0;    
    position: absolute;
    bottom: -10px;    
    left: 58px;
  }
}

.advantages__l {
  flex: 0 0 auto;
  width: 440px;
  margin-right: 1px;
  margin-top: 52px;
  > img {
    margin-left: -120px;

  }
}



.advantages__r {
  flex: 1 1 auto;
  padding-top: 4px;
}

.advantages__heading {
  margin-bottom: 29px;
}

.advantages__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__info-l {
  padding-right: 20px;
  max-width: 467px;
}

.advantages__subtit {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin-bottom: 18px;
}

.advantages__text {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
  line-height: 1.4;
}

.advantages__btn.btn-o {
  padding-left: 64px;
  padding-right: 64px;
  flex: 0 0 auto;
}

.advantages__its {
  margin-top: 47px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__col {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  margin-bottom: 25px;
}

.advantages__it {
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(6, 14, 23, 0.05) 0px 10px 25px;
  border-radius: 10px;
  height: 127px;
  padding: 29px 36px 29px 56px;
  display: flex;
  align-items: center;
}

.advantages__it-img {
  flex: 0 0 auto;
  width: 72px;
  margin-right: 27px;
}

.advantages__it-tetxt {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  margin-top: -5px;
}

.advanform {
  margin-top: 13px;
}

.advanform__form {
  margin-top: 28px;
  display: flex;  
  .form__input,
  .form__btn {
    height: 66px;
  }
  .form__row {
    margin: 0 -6px;
  }
  .form__col {
    padding: 0 6px;
  }
  .form__btn {
    padding: 0 33px;
    margin-left: 12px;
  }
}

.advanform__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.advanform__txt {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
}


.pro-video-clients-pubs {
  background: url('../img/lines-s-7.svg') left -20px top calc(50% - 550px) no-repeat;
}

.pro {
  padding-bottom: 103px;
  padding-top: 87px;
  background: url("../img/lines-s-5.png") $nr right top -83px;
}

.contain {
}

.pro__inn {
  display: flex;

}

.pro__l {
  flex: 0 0 auto;
  width: 521px;
  margin-right: 109px;
  color: rgb(255, 255, 255);
  background-image: url("../img/pro.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  padding: 60px 67px 48px 76px;
  border-radius: 10px;
  overflow: hidden;
}

.problock__txt-1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 0.9;
  letter-spacing: -0.03em;
  margin-bottom: 22px;
}

.problock__txt-2 {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.problock__txt-3 {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.pro__r {
  flex: 1 1 auto;
  padding-top: 54px;
}

.pro__txt-1 {
  font-weight: bold;
  font-size: 55px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: rgb(203, 149, 11);  
}

.pro__txt-2 {
  margin-top: -0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  margin-bottom: 33px;
}

.pro__txts {
  max-width: 278px;
  width: 100%;
}

.pro__txt-3 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
  margin-bottom: 14px;
}

.pro__txt-4 {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(154, 161, 175);
}

.video {
}

.js-video {

}

.video__inn {
  display: flex;  
  align-items: flex-start;
}

.video__l {
  flex: 0 0 auto;
  width: 383px;
  margin-right: 56px;
  padding-top: 54px;
}

.video__txt-1 {
  font-weight: 600;
  font-size: 70px;  
  color: rgb(203, 149, 11);
  margin-bottom: 29px;
  letter-spacing: -0.03em;
}

.video__txt-2 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  margin-bottom: 23px;
  line-height: 1.3;
}

.video__txt-3 {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
}

.video__btn {
  margin-top: 41px;
}

.video__r {
  flex: 1 1 auto;
  max-width: 850px;
  margin-left: auto;
  position: relative;
  height: 463px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.video__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video__cont {
  position: absolute;
  left: 0px;
  bottom: 53px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 95px;
  align-items: flex-end;
  padding-right: 80px;
}


.video__txts {
  color: #FFFFFF;
}

.video__r-txt-1 {
  font-weight: bold;
  font-size: 33px;
  line-height: 0.9;
  letter-spacing: -0.03em;
}

.video__r-txt-2 {
  margin-top: 25px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(241, 221, 225);
}

.video__play {
  background: url("../img/play.svg") center left 35px no-repeat rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 50px;
  border-radius: 50px;
  width: 82px;
  height: 82px;
  flex: 0 0 auto;
}

.clients {
  padding-top: 49px;
}

.clients__heading {
  margin-bottom: 27px;
}

.clients__row {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  flex-wrap: wrap;
}

.clients__col {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  width: 33.333%;
}

.clients__it {
  height: 266px;
  background: rgb(244, 246, 248);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;  
  padding-bottom: 49px;
}

.clients__img-w {
  height: 110px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.clients__txt {
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
}

.pubs {
  padding-top: 55px;
  padding-bottom: 74px;
}

.pubs__heading {
  margin-bottom: 43px;
}

.pubs__its-w {
  margin-left: -30px;
  margin-right: -40px;
  
}
.pubs__its {

}

.pubs__col {
  padding-left: 5px;
  padding-right: 5px;
  width: 386px;
}

.pubs__it {
  height: 466px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  &:hover {
    cursor: pointer;
    .pubs__label {
      background-color: rgb(203, 149, 11);  
      color: rgb(255, 255, 255);
    }
    .pubs__txts {
      padding-left: 58px;
    }
    .pubs__it-img-w {
      height: 100%;
      img {

      }
    }
    .pubs__txt-1 {
      color: #CBD0DA;
    }
    .pubs__txt-2 {
      color: #FFF;
    }
    .pubs__txt-3 {
      color: #FFF;
    }
  }
}

.pubs__it-img-w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 266px;
  border-radius: 10px;
  overflow: hidden;  
  transition: 0.5s;
  img {
    object-fit: cover;
    width: 100%; 
    height: 100%;  
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(9.94deg, #1D2023 3.14%, rgba(5, 14, 22, 0) 70.33%);
  }
}


.pubs__txts {
  position: relative;
  z-index: 2;  
  padding: 0 28px 57px 28px;  
  transition: 0.5s;
}

.pubs__txt-1 {
  font-size: 11px;
  letter-spacing: 0.01em;
  color: rgb(154, 161, 175);  
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(163, 172, 191);  
  &:hover {
    text-decoration: none;
  }
}

.pubs__txt-2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);
  max-width: 280px;
  min-height: 48px;
  display: block;  
  margin-top: 7px;
}

.pubs__txt-3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: rgb(87, 96, 114);
  margin-top: 11px;
}


.pubs__label {
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);
  height: 33px;
  border-radius: 10px;
  &:hover {
    text-decoration: none;
  }
  &.act {  
    background-color: rgb(203, 149, 11);  
    color: rgb(255, 255, 255);  
  }
}

.slick-arrow {
  background: url("../img/publications-arrow.svg") center no-repeat rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 50px;
  border-radius: 50px;
  display: flex;
  width: 80px;
  height: 80px;
  flex: 0 0 auto;
  position: absolute;
  font-size: 0;
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}


.slick-prev {
  display: none;
}

.slick-next {  
  right: 333px;
  top: 100px;  
}

/*footer*/

.footer__logo > img {
  width: 100%;
}

.footer {
  background-color: rgb(38, 38, 45);
  padding-top: 88px;
  padding-bottom: 83px;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: left top;
}





.footer__row {
  display: flex;
}

.footer__col-1 {
  width: 180px;
  flex: 0 0 auto;
  margin-right: 41px;
}

.footer__mnu-block {
}

.footer__mnu-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
}

.footer__mnu {
  li {
    &:not(:last-child) {
      margin-bottom: 8.8px;
    }
    a {
      font-weight: 600;
      font-size: 13px;  
      color: rgb(154, 158, 165);
      display: block;    
    }
  }
}

.footer__mnu-li {
}

.footer__mnu-link {

}

.footer__col-2 {
  width: 110px;
  flex: 0 0 auto;
  margin-right: 110px;
}

.footer__col-3 {
  width: 220px;
  margin-right: 114px;
  flex: 0 0 auto;
}

.footer__text {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  color: rgb(154, 158, 165);
  display: block;
  margin-bottom: 17px;
}

.footer__phone {
  margin-top: -3px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.footer__col-4 {
  width: 511px;
  flex: 0 0 auto;
}

.footer__logo {
  display: inline-block;
  width: 231px;
  margin-bottom: 26px;
  margin-top: -8px;
}

.footer__text-2 {
  font-weight: 500;
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-bottom: 13px;
}

.footer__text-3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  color: rgb(154, 158, 165);
  display: block;
  margin-bottom: 7px;
}

.social {
  margin-top: 28px;
  display: flex;
}

.social__it {
  flex: 0 0 auto;
  display: block;
  margin-right: 20px;
}

.to-top {
  background: url("../img/to-top.svg") $nr center;            
  width: 30px;  
  height: 30px;
  overflow: hidden;
  border-radius: 50%;  
  position: absolute;
  bottom: 428px;
  right: 230px;
  cursor: pointer;
}

/*end footer*/

.bread__w {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
}


.cols {
  display: flex;
  justify-content: space-between;
  
}

.cols__l {
  flex: 1 1 auto;
}

.cols__r {
  max-width: 300px;
  flex: 0 0 auto;
  margin-left: 35px;
  width: 100%;
}

.search__lbl {
  margin-bottom: 20px;
}

.search {
  label.screen-reader-text {
    display: none;
  }
  input {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(210, 216, 227);
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgb(110, 116, 129);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  flex-wrap: wrap;
}
  #searchsubmit {
    display: none;
  }
} 


.search__lbl-txt {
  padding-left: 16px;
  padding-right: 0px;
  font-size: 10px;
  letter-spacing: 0.01em;
  color: rgb(154, 161, 175);
  margin-top: 3px;
}

.consult {
  background-image: url("../img/banner-h.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding: 57px 45px 40px;
  margin-bottom: 20px;
}

.consult__img-w {
  margin-left: 26px;
  margin-bottom: 20px;
}

.consult__txt-1 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.consult__txt-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.consult__txt-3 {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgb(213, 213, 213);
  margin-bottom: 117px;
}

.consult__btn {
  border-radius: 5px;
  height: 49px;
  width: 100%;
}

.mostpop {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(234, 235, 237);
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 27px 40px 31px;
}

.mostpop__tit {
  font-weight: bold;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -0.01em;
}

.mostpop__list-w {
  margin-top: 35px;
}

.mostpop__list {
}

.search__heading {
  margin-bottom: 25px;
}

.mostpop__item {
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(228, 235, 237);
  border-top-color: rgb(228, 235, 237);
  border-right-color: rgb(228, 235, 237);
  border-left-color: rgb(228, 235, 237);
  margin-bottom: 15px;
  &:nth-child(8),  
  &:nth-child(9),  
  &:nth-child(10),  
  &:nth-child(11),  
  &:nth-child(12),  
  &:nth-child(13),  
  &:nth-child(14),  
  &:nth-child(15) {
    display: none;
  }  
}

.heading-4 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
  color: #000;
}

.search__list {
  margin-top: 35px;
}

.search__desc,
.no-res {
  font-size: 16px;
  font-weight: 600;
}

.search__item {
  padding-bottom: 15px;
  border-bottom: 1px solid #e4ebed;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.mostpop__cat {
  display: inline-block;
  padding-bottom: 3px;
  border-color: rgb(220, 231, 234);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 6px;
  color: #9AA1AF;
  &:hover {
    text-decoration: none;
  }  
}

.mostpop__it-title {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.more__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #000000;
}

.more__btn-icon {
  display: inline-flex;
  margin-left: 10px;
  background-image: url("../img/arr-bot.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 5px;
}

.page {
  padding-top: 32px;
  padding-bottom: 65px;
}

.pagination {
  margin-top: 35px;
  font-size: 16px;
  font-weight: 600;
  a {
  color: #000;  
  }
}
.pagination-w {}

.pagebanner__w {
  padding: 0 15px;
}

.pagebanner {
  padding-top: 39px;
  padding-bottom: 34px;
  background-image: url("../img/page-banner.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  position: relative;
  max-width: 1800px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  &:before {
    content: "";
    display: block;
    background: linear-gradient(90.14deg, rgba(6, 9, 19, 0.8) 32.61%, rgba(20, 22, 32, 0) 86.88%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}


.bread__w a {
  color: rgb(154, 161, 175);  
  border-bottom: 1px solid rgb(154, 161, 175);
  &:hover {
    text-decoration: none;
  }
}

.bread__w > i {
  margin-left: 5px;
  margin-right: 5px;
  content: "/";
  &:after {
    display: inline-block;
  font-weight: bold;
  font-size: 12px;
  color: #4E5258;
  content: "/";
  }
}


.bread-arr {
  font-weight: bold;
  font-size: 12px;
  color: #4E5258;
  content: "/";
}


.pagebanner__inn {
  position: relative;
}

.bread__w {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color: #4E5258;
}



.post-categories {
}

.pagebanner__tit {
  font-weight: bold;
  font-size: 50px;
  line-height: 0.8;
  letter-spacing: -0.035em;
  color: rgb(255, 255, 255);
  max-width: 715px;
  margin-top: 22px;
}

.posted {
  margin-top: 55px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #D9DCE6;
}

.posted__date {
  color: rgb(203, 149, 11);
  border-bottom: 1px solid rgb(203, 149, 11);
  &:hover {
    text-decoration: none;
  }
}

@import "_media.scss";
@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top 0px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    


}